# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*

# Maven directory
target/

# Temporary files
temp.txt

# IDE - Visual Studio Code
.vscode/

# IDE - NetBeans
/nbproject/private/
/build/

# Operating system files
.DS_Store
Thumbs.db

# Annotation Processor (might generate some meta files)
annotation/

# Test outputs
test-output/
testng-reports.xml
